

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

	<h1>從Controller中取得的AreaName = @ViewBag.AreaName</h1>
	<h1>從Controller中取得的ControllerName = @ViewBag.ControllerName</h1>
	<h1>從Controller中取得的ActionName = @ViewBag.ActionName</h1>
	<h1>從View中取得的AreaName = @ViewContext.RouteData.DataTokens["area"]</h1>
	<h1>從View中取得的ControllerName = @ViewContext.RouteData.Values["controller"]</h1>
	<h1>從View中取得的ActionName = @ViewContext.RouteData.Values["action"]</h1>


</body>
</html>
