@model IEnumerable<WebApplication1.geo_test2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<h3>各個值</h3><br />

@Html.Action("GetData2")

<h3>有重疊的部份</h3><br />

@Html.Action("GetData")

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.graph)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.graph)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
