<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <style>
        .footer {
            position:fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyEc", "Index", "Product", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("觀看商品", "Index", "Product")</li>

                    @if (Request.Cookies.AllKeys.Contains("MyCook"))
                    {
                        <li>@Html.ActionLink("修改個人資料", "Edit", "User")</li>
                        if (Request.Cookies["MyCook"]["type"] == "廠商")
                        {
                            <li><a href="../../Product/Index?query=我的產品">我的產品</a></li>
                        }

                        if (Request.Cookies["MyCook"]["type"] == "顧客")
                        {
                            <li><a href="../../Sale/Index">購買記錄</a></li>
                            <li><a href="../../Sale/Cart">購物車</a></li>
                        }

                        if (Request.Cookies["MyCook"]["type"] == "管理者")
                        {
                            <li><a href="../../User/Index">User列表</a></li>
                            <li><a href="../../Sale/Cart">購物車</a></li>
                        }

                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>



    <div class="footer">
        <p>&copy; @DateTime.Now.ToString("yyyy-MM-dd") - MyEC</p>
        <p>聯絡地址：火星市地球村50號</p>
        <p>聯絡電話：88888888</p>
    </div>

    
    
    @RenderSection("scripts", required: false)
</body>
</html>
